<?xml version="1.0" ?>
<robot name="obj.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/1baa93373407c8924315bea999e66ce3.obj" scale="0.0005 0.0005 0.0005"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/1baa93373407c8924315bea999e66ce3.obj" scale="0.0005 0.0005 0.0005"/>
      </geometry>
    </collision>
  </link>
</robot>