<?xml version="1.0" ?>
<robot name="obj.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/hcis-s17/YongZhe/obj-and-urdf/capsule.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/hcis-s17/YongZhe/obj-and-urdf/capsule.obj" />
      </geometry>
    </collision>
  </link>
</robot>