<?xml version="1.0"?>
<robot name="usb">
  <link name="usb">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_head.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_head_vhacd.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Mass value from the *empty* spam can. Full spam can is 368g -->
      <mass value="0.1"/> 
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>
</robot>
  <!-- <link name="usb_line">
    <visual>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="usb/line.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="usb/line.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <!-- Mass value from the *empty* spam can. Full spam can is 368g -->
      <mass value="0.1"/> 
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="usb_to_line" type="fixed">
    <parent link="usb"/>
    <child link="usb_line"/>
    <origin xyz="0.0 0.0 0.0"/>
  </joint> -->

