<?xml version="1.0" ?>
<robot name="obj.urdf">
  <link name="baseLink">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_place_ori_my.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_place_ori_my.obj" />
      </geometry>
    </collision>
  </link>
</robot>