<?xml version="1.0" ?>
<robot name="obj.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_my.obj" scale = "0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./obj-and-urdf/usb_my.obj" scale = "0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>